@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.main-index,
.main-inner {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/* Хедер и навигация */
.page-header {
  width: 1200px;
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
}

.navigation {
  display: flex;
}

.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

/* Кнопки */
.button {
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border: none;
}

.button-suggestions,
.subscribe-form-button,
.pagination .button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-form-button,
.apply-button,
.button-to-favorites {
  background-color: #82B3D3;
}

.button-favorite {
  background-color: #7DB54F;
}

.reset-button {
  background: none;
}

.button-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #F2F2F2;
}

/* Hero блок */
.welcome {
  width: 1200px;
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.welcome-divider {
  display: block;
}

/* Блок описания */
.description {
  width: 1200px;
  min-height: 282px;
  text-align: center;
  background-color: #ffffff;
}

.description .description-statement {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.description .description-reasons {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Блок преимуществ */
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-block {
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item:first-child,
.advantages-item:last-child {
  display: flex;
}

.advantages-item-white-text .advantages-description,
.advantages-item-white-text .advantages-title {
  color: white;
}

.advantages-item-attraction ,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road,
.advantages-item-housing,
.advantages-item-souvenirs {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-food {
  background-color: #ffffff;
}

/* Блок предложения */
.suggestions {
  background-color: white;
  text-align: center;
}

.suggestions-statement {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Блок подписки */
.main-subscribe {
  width: 1200px;
  min-height: 415px;
  background-image: url("../images/subscribe-background.jpg");
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.inner-subscribe {
  background-image: none;
  background-color: white;
  color: #000000;
}

/* Блок хедера в основном содержимом страницы каталога */
.background-for-catalog {
  width: 1200px;
  min-height: 412px;
  background-image: url("../images/catalog-background.jpg");
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header {
  color: #ffffff;
}

.inner-header .inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs .breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  color: #ffffff;
}

.catalog-filter .catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-item .control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* Поле сортировки и вида товаров */

.hotels-found-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-controls {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* Блок карточки товара */

.hotels-found-list {
  background-color: #ffffff;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-name,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  text-align: right;
}

/* Пагинация */

.pagination-link.button {
  background-color: #82B3D3;
}

.pagination .pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

/* footer */
.page-footer {
  width: 1200px;
  display: flex;
  background-color: #ffffff;
  margin: 0 auto;
}

.footer-social {
  width: 142px;
}

.footer-contacts {
  width: 331px;
}

.footer-contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-htmlacademy {
  width: 115px;
}
